{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "env": {
    "es2022": true,
    "node": true,
    "browser": true,
    "jest": true
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:import/typescript",
    "plugin:json/recommended-with-comments",
    "plugin:jest/recommended",
    "prettier"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "@typescript-eslint/no-empty-interface": "off"
  }
}
